//Header css as a testbed.
body {
    background-color: #808080;
}
header {
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    width: 200px;

}

main {
    background-color: blue;
    margin: 15px;
    padding: 5px;
}

li {
    color: red;
}
