//Header css as a testbed.
body {
    background-color: #45;
    padding: 20px;
}
header {
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    width: 600px;

}

main {
    //background-color: blue;
    margin: 10px;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    width: 150px;
    border: 10px soild #0000FF;

}

li {

}
li a {
    display: block;
    text-decoration: none;
    background-color: #555;
    color: white;
    padding: 8px 16px;
}
li a:hover {
    background-color: #888;
}
