<!DOCTYPE HTML>
<html>
  <head>
    <title>COYA Template</title>
	<link href = "templateStyle.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
      <div id = "page">
        <header>
            <h1>Name of the page</h1>
            <h2>Sub Title</h2>
            <nav>
              <ul>
                <li><a href = "#">Reset</a></li>
                <li><a href = "#">Home</a></li>
                <li><a href = "#">Hint</a></li>
              </ul> 
            </nav>
        </header>
        <div id ="story">
          <section class = "combinedElmts">
            <h2>A bold choice!</h2>
            <h3>Page #</h3>  
            <figcaption class = "imgOnly">
              <img src = "#" width = "300" height ="400" />
            </figcaption>
            <section class = "textOnly">
              <p>First Words</p>
              <p>Second Words</p>
            </section>
          </section>
          <aside class = "choices">
            <nav>
              <ul>
                <a href ="#"><li>A</li></a>
                <a href ="#"><li>B</li></a>
                <a href ="#"><li>C</li></a>
                <a href ="#"><li>D</li></a>
              </ul>
            </nav>
          </aside>
        </div>
      </div>    
  </body>
</html>