a{
    text-decoration: none;
}

header {
    background-color: aqua;
    margin: 10px;
    padding: 5px;

}

header nav {
    background-color: aquamarine;
    margin: 10px;
    padding: 5px;
}

.header_list > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: beige;  
}

.header_list li {
    display: inline;
}


li a{
    display: block;
    width: 60px;
    color: #101010;
}

    
li a:hover {
    background-color: #454545;
    color: white;
}

#story {
    display: flex;
    background-color: brown;
    margin: 10px;
    padding: 5px;
}

section {
    margin: 10px;
    padding: 5px;
}

section.combinedElmts {
    background-color: chocolate;
}

.imgOnly {
    background-color: beige;
    margin: auto;
    padding: inherit;
}

section.textOnly {
    background-color: coral;    
}

aside {
    background-color: red;
    margin: 10px;
    padding: 5px;
}
 
footer { 
    background-color: aqua;
    margin: 10px;
    padding: 5px;

}
address {
    background-color: azure;
    margin: 10px;
    padding: 5px;
}

p {
  color: blanchedalmond;
}


